//- index.pug
doctype html
html
  head
    style
      include ../static/style.css
  body
    

    section#introSection
                div  Learn Dance By Bhavesh Academy
                div.small   Eat Dance Sleep Repeat
    section#missionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src="/static/img/1.png")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="/static/img/2.png")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/img/1.png")

                div.card-content
                    p This is the best dance academy of the universe

    section#sponsersSection
                h3 Section For Sponsers 
                div.sponser-img
                    img(src="static/img/apple.png", alt="Error 404")
                    img(src="static/img/microsoft.png", alt="Error 404")
                    img(src="static/img/google.png", alt="Error 404")
                    img(src="static/img/skype.png", alt="Error 404")
    
    footer#footer 
               p CopyRight &copy; 2022 - www.bhaveshwebsite.com

    script
      include ../static/index.js
    